<% content_for :title, "Campaigns" %>
<h2>Your MailChimp Campaigns</h2>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Date Created</th>
        <th>Content Last Update</th>
        <th>Last Sent</th>
    </tr>

    <% @campaigns.each do |campaign| %>

    <tr>
        <td><a href="/campaigns/<%= campaign['id'] %>"><%= campaign['title'] %></a></td>
        <td><%= campaign['create_time'] %></td>
        <td><%= campaign['content_updated_time'] %></td>
        <td><%= campaign['send_time'] %></td>
    </tr>
    <% end %>

</table>

